@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-6">
<div class="card">
  <div class="card-header">
    HRAPP
  </div>
  <div class="card-body">
    <h5 class="card-title">Add HR Data</h5>
    <div class="row">
    
        <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
        <div class="col-md-6">
            <label for="formFileLg" class="form-label">Choose File</label>
            <input class="form-control" id="formFileLg" type="file">
        </div>
        <div> <br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
