@{
    Layout = "_Layout";
}
@model HRAPP.Models.Employee
<H1> Details of the employee is:</H1>
<h2>ID:@Model.ID</h2>
<h2>Name:@Model.name</h2>
<h2>Contact Number:@Model.contactNo</h2>
<h2>Joining Data:@Model.JoiningDate</h2>
<h2>Gender:@Model.Gender</h2>