@{
    Layout = "_Layout";
}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Human Resources</h5>
    <p class="card-text">A strategic HR model is a plan to manage a company's human capital such as employees. It aligns its strategies with those of the business and provides direction to hire talent, appraise performance and determine compensation. Models are typically long-term plans that take time to develop and implement.</p>
    <a href="/Home" class="btn btn-primary">Update Here!!!</a>
  </div>
</div>